* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color: #333;
    font-size: 62.5%;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.subheading {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 600;
    color: #7048e8;

    padding-bottom: 2.4rem;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

/* apply a bottom margin to all grid classes EXCEPT last-child */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}


.btn,
.btn--solid:link,
.btn--solid:visited {
    display: inline-block;
    background-color: #7048e8;
    padding: 1rem 4rem;
    color: #f3f0ff;
    text-decoration: none;

    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 500;

    transition: all 0.3s;
}

.btn--solid:hover,
.btn--solid:active {
    background-color: #5f3dc4;
}

section {
    padding-bottom: 6rem;
}

/* ANIMATIONS */
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn--animate {
    animation: moveInTop 1s ease-out .75s;
    animation-fill-mode: backwards;
}
