/***************************************/
/* BELOW 1344px (Smaller desktops) */
/***************************************/

@media (max-width: 84em) {
    html {
        font-size: 58%;
    }
}

/***************************************/
/* BELOW 1200px (Landscape tablets) */
/***************************************/

@media (max-width: 75em) {
    html {
        font-size: 52%;
    }
}

/***************************************/
/* BELOW 944px (Tablets) */
/***************************************/

@media (max-width: 59em) {
    html {
        font-size: 40%;
    }
}

/***************************************/
/* BELOW 704px (Small Tablets) */
/***************************************/

@media (max-width: 44em) {
    html {
        font-size: 35%;
    }
}


/***************************************/
/* BELOW 544px (Phones) */
/***************************************/
@media (max-width: 34em) {
    html {
        font-size: 20%;
    }
}