/****************  NAV BAR *****************/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 5rem; */
  padding: 0 4.8rem;
  background-color: #212529;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;

  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  color: #7950f2;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 0.3s;
  
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:active
 {
  background-color: #845ef7;
    display: inline-block;

  padding: .5rem 2rem;
  /* margin: 0 2rem 2rem 0; */
  color: #fff;
  text-decoration: none;

  font-size: 2rem;
  font-weight: 500;

  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:visited {
  background-color: #5f3dc4;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d0bfff;

}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  color: #fff;
}

.logo-text {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  font-weight: 500;
}

/**************** HEADER *****************/
.header {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(82, 46, 226, 0.204),
      rgba(34, 32, 30, 0.891)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top left;
}

.header__text-box {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
  /* text-align: center; */
}
.heading-primary--main {
  display: block;
  /* white-space: nowrap; */
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 500;
  /* letter-spacing: .5rem; */
  /* text-transform: uppercase; */
  color: #fff;

  animation: moveInTop 1s ease-out;

  margin-bottom: 1rem;
}

.heading-primary--sub {
  display: block;
  /* white-space: nowrap; */
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
  font-size: 3rem;

  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;

  margin-bottom: 8rem;
}

/**************** ALL OCCASIONS SECTION *****************/
.section__all-occasions {
  padding: 9.6rem 0;
  /* background-color: #f1f3f5; */
  color: #333;
  min-height: 80vh;
}

.card {
  /* width: 30rem; */
}

.card-img {
  object-fit: cover;
  width: 100%;
}

.card-text {
  font-size: 1.8rem;
  line-height: 1.5;
}
.card-text h2 {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

/**************** QUALITY SECTION *****************/
.section-quality-assurance {
  padding-top: 9.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  /* gap: 10rem */
}

.qa-icons {
  width: 4rem;
  height: 4rem;
}

/**************** COLLECTIONS SECTION *****************/
.section-collection {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  background-color: #212529;
}

.collection-text-box {
  font-size: 2.4rem;
  color: #f1f3f5;
}

.collection-text-box h2,
.collection-text-box p {
  padding-bottom: 3rem;
}

.collection-img {
  position: relative;
}

.collection-img-primary {
  object-fit: cover;
  width: 60rem;
  height: 60rem;
}

.collection-img-sub {
  /* display: inline-block; */
  padding: 9.6rem 0;
  object-fit: cover;
  width: 30rem;
  height: 40rem;

  position: absolute;
  left: 230;

  z-index: 2;
}

/**************** CUSTOMER SUPPORT SECTION *****************/
.section-support {
  padding-top: 4.8rem;
  /* padding-bottom: 9.6rem; */
  color: #fff;
  background-color: #212529;
}

.support-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.section-support-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.support-img {
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(82, 46, 226, 0.204),
      rgba(34, 32, 30, 0.891)
    ),
    url("../img/gallery/styling-examples/styling-6_orig.jpg");
  background-size: cover;
  background-position: top left;
}

/**************** TESTIMONIALS SECTION *****************/
.section-testimonials {
  padding-top: 4.8rem;
  /* min-height: 50vh; */
}

.testimonial-img {
  width: 12rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.testimonial-name {
  font-size: 1.8rem;
  color: #495057;
}
/**************** PROCESS SECTION *****************/
.section-process {
  padding: 4.8rem 0;
  background-color: #212529;
  color: #f8f9fa;
}

.process-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.process-steps {
  /* align-items: center; */
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}

.process-number {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 700;
}

.process-img-box {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.process-img {
  /* display: none; */
  height: 40rem;
  width: 40rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 2.4rem #b097fcaf;
}

/**************** CTA SECTION *****************/
.section-cta {
  /* min-height: 50vh; */
  padding: 9.6rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 9.6rem;
  background-color: #9775fa;
  overflow: hidden;

  /* height: 54rem; */
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  color: #f3f0ff;
}

.cta-text-box .subheading {
  color: #f3f0ff;
  margin-bottom: 2.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
}

.cta-form input::placeholder,
.cta-select-box select:invalid {
  color: #aaa;
}

.cta-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-input,
.cta-select {
  width: 100%;
  border: none;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #f3f0ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.836);
}

.cta-checkbox {
  display: flex;
  margin-bottom: 1.2rem;
}

.cta-checkbox input {
  width: 2rem;
  height: 2rem;
}

.cta-checkbox-label {
  padding-left: 0.8rem;
  font-size: 1.8rem;
}

.btn--form {
  background-color: #5f3dc4;
  font-family: inherit;
  border: none;
}

.btn--form:hover {
  background-color: #e5dbff;
  color: #5f3dc4;
}

.cta-img {
  background-image: linear-gradient(
      to right bottom,
      rgba(178, 6, 241, 0.326),
      rgba(0, 128, 255, 0.353)
    ),
    url("../img/style-1.jpg");
  background-size: cover;
  background-position: center;
}

/**************** CTA SECTION *****************/
.footer {
  padding-bottom: 9.6rem;
  color: #333;
}

.footer-heading {
  margin-bottom: 3.2rem;
  font-weight: 700;
}


.footer-text {
  font-size: 1.6rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.logo-footer-text:link,
.logo-footer-text:visited {
  font-size: 2.4rem;
  color: #333;
}

.social-list {
  padding-top: 1.6rem;
}

.copyright {
  font-size: 1.2rem;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .8rem
}

.footer-nav-link:link,
.footer-nav-link:visited,
.contacts a:link,
.contacts a:visited 
{
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-nav-link:hover,
.footer-nav-link:active,
.contacts a:hover,
.contacts a:active {
  color: #7048e8;
} 

.social-list {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  margin: 1.8rem 0;
}

.footer-social-icon {
  width: 2.8rem;
  height:2.8rem;
  color: #333;
}
